[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==0.4.1"
torchvision = "*"
kgekit = "==0.0.22"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
