[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==0.4.1"
torchvision = "*"
kgekit = "==0.1.3"
visdom = "*"
tqdm = "*"
tensorflow = "*"
tensorflow-gpu = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
